* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    /* margin-top: 10px; */
    position: absolute;
    /* top: 10px; */
    z-index: 999;

}

nav {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo {
    text-align: center;
    flex: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.logo>span {
    color: brown;
}

.nav-links {
    text-transform: capitalize;
    flex: 80%;
    font-size: .8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    position: relative;
}

.nav-links>li>a{
    position: relative;
}

.nav-links>li>a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

.menubar {
    color: white;
    display: none;
}



.nav-links>li>a::before {
    content: '';
    height: 10%;
    width: 0%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: brown;
    transition: .5s;
}
.nav-links>li>a:hover::before{
    width: 100%;
}
.nav-links>li:hover a{
    color: brown;
}



